@import '../../assets/style/index.scss';

#mapChart {
  position: absolute;
  top: -5%;
  right: -5%;
  bottom: -5%;
  left: -5%;
}

.dashboard {
  color: $wihte;
  overflow: hidden;
  .dashboard-bg {
    @include bgImage('../../assets/images/bg03.png');
    z-index: -2;
  }
  .logo {
    @include position(34, 3282, 1020, 43);
    @include bgImage('../../assets/images/logo.png');
  }
  // 展示区域 START
  .title-show .txt {
    font-size: var(--fontSize-12);
    width: 100%;
    padding-left: 6%;
    font-weight: bold;
  }
  .items-show {
    height: 80%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .item {
      position: relative;
      padding-left: 30%;
      width: 0;
      height: 0;
      font-size: var(--fontSize-12);
      cursor: pointer;
    }
  }
  .show-top {
    @include position(206, 3104, 678, 225);
    .title-show {
      height: 12%;
    }
    .empty {
      height: 8%;
    }
    .item {
      padding-top: calc(30% / 2.1);
      font-size: var(--fontSize-14);
    }
  }
  .show-middle {
    @include position(528, 3104, 400, 225);
    .items-show {
      height: 70%;
    }
    .title-show {
      height: 16%;
    }
    .empty {
      height: 4%;
    }
    .item {
      padding-top: calc(30% / 2.6);
      font-size: var(--fontSize-14);
      cursor: pointer;
    }
  }
  .show-bottom {
    @include position(788, 3104, 200, 225);
    .items-show {
      height: 75%;
    }
    .title-show {
      height: 24%;
    }
    .empty {
      height: 4%;
    }
    .items {
      height: 72%;
    }
    .item {
      padding-top: calc(40% / 2.6);
      font-size: var(--fontSize-12);
      cursor: pointer;
    }
  }
  .show-right {
    @include position(788, 2504, 197, 824);
    .title-show {
      height: 24%;
    }
    .empty {
      height: 4%;
    }
    .items {
      height: 70%;
    }
    .item {
      padding-top: calc(30% / 2.6);
      font-size: var(--fontSize-14);
    }
  }
  // 展示区域 END

  // 饼图 START
  .pie {
    @include position(132, 2536, 852, 838);
  }
  // 饼图 END

  // 交易信息区 START
  .summary {
    @include position(390, 2480, 430, 895);
  }
  // 交易信息区 NED

  // 合作视图 STRAT
  .teamview {
    @include position(70, 1135, 164, 2435);
    @include bgImage('../../assets/images/teamwork-bg.png');
  }
  // 合作视图 END

  // 地图相关 START
  .map-transform{
    @include position(0, 1300, 0, 1300);
    @include bgImage('../../assets/images/dt-bg.png');
    animation: rotation 200s linear infinite;
    z-index: -1;
  }
  .map-bk {
    @include position(79, 1430, 40, 1349);
    @include bgImage('../../assets/images/bk.png');
    z-index: 2;
  }
  .map {
    @include position(94, 1474, 186, 1470);
    z-index: 4;
  }
  .map-operation {
    @include position(1058, 1432, 28, 1426);
    z-index: 3;
    font-weight: bold;
    > div {
      position: relative;
      width: 40%;
      height: 100%;
      color: $blue;
      font-size: var(--fontSize-18);
      cursor: pointer;
      @include bgImage('../../assets/images/btn-3.png');
    }
    .active::after {
      content: '';
      position: absolute;
      top: 0;
      right: 25%;
      bottom: 0;
      left: 25%;
      @include bgImage('../../assets/images/active.png');
    }
    .active {
      color: $orange;
    }
  }
  // 地图相关 END

  // 监控 START
  .monitor-top-l {
    @include position(363, 932, 554, 2730);
    flex-wrap: wrap;
    color: $wihte;
    z-index: 3;
    // font-weight: bold;
    .item {
      @include bgImage('../../assets/images/goldenFrame.png');
      width: 100%;
      height: 23%;
      font-size: var(--fontSize-12);
      cursor: pointer;
      margin-bottom: 8%;
      &.active {
        color: $orange;
      }
    }
  }
  .monitor-top-r {
    @include position(84, 128, 865, 2722);
  }
  .monitor-middle {
    @include position(372, 128, 466, 2735);
  }
  .monitor-bottom {
    @include position(762, 128, 198, 2735);
  }
  // 监控 END

  @keyframes rotation {
    from { transform: rotate(0) }
    to { transform: rotate(360deg) }
  }
}